@import url("https://fonts.googleapis.com/css?family=Lobster|Poiret+One|Roboto:400,400i");
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2ea;
  position: relative;
  margin: 0;
  padding: 0; }

a, a:visited, a:active {
  outline: none;
  text-decoration: none;
  color: #0b0b0b; }

header, article, footer {
  position: relative;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  display: block; }

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  line-height: 0.8; }

.blind {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(230, 126, 48, 0.45); }

.wrapper-internal {
  max-width: 960px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41525c;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  overflow: hidden; }

.fon {
  width: 100%;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden; }

.back-menu {
  background-color: rgba(63, 63, 63, 0.8);
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: width 0.75s;
  transition: width 0.75s; }

.back-menu ul {
  padding: 40px 0 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.back-menu ul li {
  white-space: nowrap;
  font-size: 14px;
  margin: 0 0 20px;
  list-style-type: none; }

.back-menu ul li a {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: color 0.2s linear, border 0.2s linear;
  transition: color 0.2s linear, border 0.2s linear; }

.back-menu ul li a:hover {
  -webkit-transition: color 0.2s linear, border 0.2s linear;
  transition: color 0.2s linear, border 0.2s linear;
  color: #e67e30;
  border-bottom: 2px solid; }

.back-menu__open {
  width: 200px; }

.index-menu {
  cursor: pointer;
  background-color: #e67e30;
  position: absolute;
  font-size: 25px;
  display: block;
  width: 55px;
  height: 55px;
  left: -26px;
  line-height: 56px;
  text-align: center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .index-menu:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(63, 63, 63, 0.8);
            box-shadow: 0 0 2px 0 rgba(63, 63, 63, 0.8); }

.shadow-open {
  -webkit-box-shadow: 0 0 2px 0 rgba(63, 63, 63, 0.8);
          box-shadow: 0 0 2px 0 rgba(63, 63, 63, 0.8); }

.icon {
  opacity: 0;
  position: absolute;
  margin-top: -12px;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.7s linear;
  transition: opacity 0.7s linear; }

.open {
  -webkit-transition: opacity 0.7s linear;
  transition: opacity 0.7s linear;
  opacity: 1; }

.index-menu i {
  color: #ffffff; }

.line-menu {
  width: 4px;
  height: 100%;
  background-color: #e67e30;
  position: absolute;
  left: 0; }

.hidden-popap {
  z-index: 9;
  background: rgba(50, 50, 50, 0.5);
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .hidden-popap .hidden-popap__item {
    -webkit-box-shadow: 1px 1px 10px -1px black;
            box-shadow: 1px 1px 10px -1px black;
    margin: -200px auto;
    max-width: 600px;
    height: 400px;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #ffffff;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .hidden-popap .hidden-popap__item .hidden-popap__internal-wrapper {
      position: relative;
      display: block;
      width: 100%;
      height: 100%; }
      .hidden-popap .hidden-popap__item .hidden-popap__internal-wrapper .content img {
        width: 100%;
        height: 100%; }
      .hidden-popap .hidden-popap__item .hidden-popap__internal-wrapper .hidden-popap__item__buuton-closed {
        cursor: pointer;
        z-index: 11;
        position: absolute;
        top: 6px;
        right: 15px;
        font-size: 48px;
        color: rgba(255, 255, 255, 0.5);
        -webkit-transition: color 0.4s linear;
        transition: color 0.4s linear; }
        .hidden-popap .hidden-popap__item .hidden-popap__internal-wrapper .hidden-popap__item__buuton-closed + i:hover {
          color: white;
          -webkit-transition: color 0.4s linear;
          transition: color 0.4s linear; }

header {
  color: #ffffff; }
  header h1, header h2 {
    color: #ffffff; }
  header p {
    color: #ffffff;
    margin: 50px 0 0; }

.logo {
  padding: 25px 0;
  text-align: center; }

.logo > span:last-of-type {
  color: #506898;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 700;
  font-style: italic; }

.logo h1 {
  display: inline-block;
  position: relative; }

.logo h1 span {
  font-family: 'Lobster', cursive;
  color: #e67e30;
  font-size: 65px; }

.banner {
  max-width: 1200px;
  min-height: 575px;
  background: url("../img/fon1.png") no-repeat;
  background-size: cover;
  background-position: center; }

.banner > h2, .banner > p {
  margin: 0 auto;
  max-width: 480px;
  line-height: 1.6;
  position: relative;
  z-index: 4; }

.banner > h2 {
  margin-top: 200px;
  font-size: 38px; }

.banner > p {
  margin-top: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  font-style: italic;
  font-weight: 500; }

.left-logo-img {
  position: absolute;
  left: 225px; }

.right-logo-img {
  position: absolute;
  right: 225px; }

article .aboutus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

article .img {
  padding: 0; }
  article .img div {
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: center;
    display: block;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    article .img div img {
      width: 135px;
      height: 135px; }

article .text {
  padding: 0 15px; }
  article .text p {
    text-align: justify;
    line-height: 1.6;
    color: #41525c; }

article h2 {
  color: #41525c;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 2.0;
  margin: 50px 0; }

article .incubator {
  padding: 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/fon2.png");
  background-position: center;
  position: relative; }
  article .incubator .count-time > div {
    color: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    article .incubator .count-time > div p {
      font-family: 'Poiret One', cursive;
      font-size: 18px;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 40px; }
    article .incubator .count-time > div .time-wrapper {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 30px 0; }
      article .incubator .count-time > div .time-wrapper span {
        font-size: 42px;
        display: inline-block;
        margin: 0 15px; }

article .gallery .container-items {
  text-align: center;
  display: block;
  margin: 0 auto; }
  article .gallery .container-items .gallery-item {
    position: relative;
    padding: 15px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    article .gallery .container-items .gallery-item .gallery-item-img {
      overflow: hidden;
      border: 3px solid #e67e30;
      position: relative;
      cursor: pointer;
      padding: 75px 0;
      width: 100%;
      margin: 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-position: center;
      background-size: cover; }
      article .gallery .container-items .gallery-item .gallery-item-img .blind {
        -webkit-transition: -webkit-transform 0.4s ease-in;
        transition: -webkit-transform 0.4s ease-in;
        transition: transform 0.4s ease-in;
        transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
        display: block; }
      article .gallery .container-items .gallery-item .gallery-item-img .open-gallery {
        -webkit-transition: color 0.4s linear;
        transition: color 0.4s linear;
        color: rgba(255, 255, 255, 0.5);
        font-size: 48px;
        z-index: 3;
        width: 48px;
        height: 48px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        text-align: center;
        line-height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -24px 0 0 -24px; }
      article .gallery .container-items .gallery-item .gallery-item-img:hover > div {
        display: block; }
      article .gallery .container-items .gallery-item .gallery-item-img:hover .blind {
        -webkit-transform: translateY(-200px);
            -ms-transform: translateY(-200px);
                transform: translateY(-200px); }
      article .gallery .container-items .gallery-item .gallery-item-img:hover .open-gallery {
        color: white; }
    article .gallery .container-items .gallery-item .first {
      background-image: url("../img/gallery01.png"); }
    article .gallery .container-items .gallery-item .second {
      background-image: url("../img/gallery02.png"); }
    article .gallery .container-items .gallery-item .third {
      background-image: url("../img/gallery03.png"); }
    article .gallery .container-items .gallery-item .forthen {
      background-image: url("../img/gallery04.png"); }
    article .gallery .container-items .gallery-item .five {
      background-image: url("../img/gallery05.png"); }
    article .gallery .container-items .gallery-item .six {
      background-image: url("../img/gallery06.png"); }

article .comands div {
  color: #41525c;
  text-align: justify;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

article .comands .row {
  padding: 15px 0; }

article .comands .comands-text {
  background-color: #ffffff;
  padding: 10px; }
  article .comands .comands-text p {
    padding: 5px 0;
    line-height: 1.2; }
    article .comands .comands-text p:first-of-type {
      color: #506898;
      border-bottom: 1px dotted #41525c; }

article .comands .comands-img {
  text-align: center; }
  article .comands .comands-img img {
    width: 140px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

article .fon {
  padding: 75px 0;
  background: url("../img/fon3.png");
  background-size: cover;
  background-position: center; }

article .contacts {
  margin-bottom: 30px; }
  article .contacts div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left; }
  article .contacts > div > div {
    margin: 20px 0 30px; }
  article .contacts input, article .contacts textarea {
    font-family: 'Roboto', sans-serif;
    color: #41525c;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 2px solid rgba(65, 82, 92, 0.2);
    margin: 2px 0 8px;
    font-size: 16px;
    outline: none;
    width: 100%;
    resize: none; }
  article .contacts label {
    color: #e67e30;
    font-size: 14px;
    font-weight: 700; }
  article .contacts input {
    padding: 8px 2px; }
  article .contacts button {
    cursor: pointer;
    text-transform: uppercase;
    width: 115px;
    padding: 8px 0;
    margin: 8px 2px;
    color: #e67e30;
    background-color: transparent;
    border: 1px solid;
    float: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    article .contacts button:first-of-type {
      margin: 8px 0 8px 2px; }
    article .contacts button:hover {
      border: 2px solid #e67e30;
      background-color: #e67e30;
      color: #ffffff; }
    article .contacts button:active {
      border: 2px solid #ffffff; }
    article .contacts button:focus {
      outline: none; }
  article .contacts span {
    float: left;
    width: 16px;
    margin-right: 15px;
    text-align: left;
    color: #e67e30; }
    article .contacts span i {
      font-size: 20px; }

.footer {
  padding: 20px 0;
  color: #ffffff;
  background-color: #e67e30; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .banner {
    background: url("../img/fon1-mobile.png") no-repeat;
    background-size: cover;
    min-height: 236px; }
    .banner h2 {
      margin-top: 60px;
      font-size: 26px; }
    .banner p {
      display: none; }
  .incubator {
    background: url("../img/fon2-mobile.png") no-repeat !important;
    background-size: cover !important;
    padding: 25px 0 !important; }
    .incubator .time-wrapper .hours {
      display: none !important; }
    .incubator .time-wrapper .minutes {
      display: none !important; }
  .fon {
    background: #e67e30 !important;
    padding: 15px 0 !important; }
  .gallery-item .gallery-item-img {
    padding: 50px 0 !important; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=main.css.map */
